.btn    {
    padding: 10px 16px;
   /* width: 13vw;*/
    background: #337ab7;
    text-align: center;
    margin-right: 2vw;
}

.fas    {
    color: #337ab7;
    margin-right: 1vw;
}

.jumbotron  {
    background: rgb(243, 242, 242);
}

h1  {
    font-size: 4rem;
}

body    {
    background: #337ab7;
}

.links {
    color: white;
}

#survey-heading {
    font-size: 32px;
    margin-top: 2vh;
    margin-bottom: 2vh;
/*  color: white; 
    margin-left: 4vw;
    margin-right: 4vw;  */
}

h3  {
    color: black;
}

.form-group {
    color: white;
}

h4  {
    color: white;
    font-size: 24px;
}

.chosen-select  {
    margin-bottom: 3vh;
}

a   {
    color: white;
    padding-right: 10px;
    padding-left: 0;
}

#submit  {
    background-color: white;
    color: #337ab7;
    border: #337ab7 2px solid;
}
    
.modal-header   {
    text-align: center;
}

.btn.btn-default    {
    color: white;
    justify-content: center;
}

.container  {
    padding: 0;
}

.modal-content  {
    max-width: 100%;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.modal-body {
    overflow: auto;
    margin-right: 10px;
}